.container,
main,
footer {
  width: 100%;
}

.container,
main,
footer {
  display: flex;
}

main,
footer {
  align-items: center;
}

.decoration {
  width: 300px;
  height: 300px;
  background: #cd032b;
  position: absolute;
  filter: blur(100px);
  z-index: -1000;
}

.blue {
  background: rgb(0, 79, 128);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  min-height: 80vh;
  justify-content: center;
  padding: 30px;
}

footer {
  color: var(--color-2);
  padding: 20px;
}

@media (max-width: 500px) {
  .main {
    padding: 0;
  }
}
